body {
    display: flex;
    justify-content: start;
    margin: 0;

    & nav {
        position: fixed;
        width: 5rem;
        display: flex;
        padding: 1rem;
        flex-direction: column;
        align-items: flex-start;
        border-right: 1px solid black;
        height: 100vh;

        & a {
            margin-bottom: .5rem;

            &:visited {
                color: inherit;
            }

            &.current {
                font-weight: 600;
            }
        }
    }

    & div {
        padding: 1rem;
        padding-left: 8rem;

        & table {
            width: 100%;
            border-collapse: collapse;

            & th {
                background-color: #f0f0f0;  /* Slightly gray background */
                font-weight: bold;          /* Make the text bold */
                text-align: left;           /* Left-align the text */
                padding: 10px;              /* Add some padding */
                border-bottom: 2px solid #ccc; /* Add a border at the bottom */
            }

            & td {
                padding: 10px;              /* Add some padding */
                border-bottom: 1px solid #ccc; /* Add a border at the bottom */
            }
        }
    }
}
